@import "common/styles/_base.scss";

.home {
  padding-top: 160px;

  .wrapper {
    margin: 0 auto;
    max-width: $page-width-limit;

    .omnibox-wrapper {
      text-align: center;

      .label {
        margin-bottom: 24px;
      }

      .omnibox {
        width: 100%;
        max-width: 800px;
        background-color: $color-surface;
        color: $color-foreground;
        border: 1px solid $color-stroke;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 24px;

        input {
          font-size: 16px;
        }
      }

      .tags {
        .tag-item {
          margin-right: 8px;

          &.is-active {
            .ant-tag {
              background-color: $color-primary;
              color: $color-background;
            }
          }

          .ant-tag {
            background-color: $color-surface;
            color: $color-foreground;
            border: 1px solid $color-stroke;
            border-radius: 4px;
            font-size: 14px;
            line-height: auto;
            padding: 6px 16px;
            margin-right: 0;
            margin-bottom: 12px;
            cursor: pointer;

            &:hover {
              background-color: $color-primary;
              color: $color-background;
            }
          }
        }
      }
    }

    .divider {
      border: 1px solid $color-stroke;
      margin: 56px 0;
      opacity: 0.4;
    }

    .page-content {
      .resources-wrapper {
        display: grid;
        justify-content: space-between;
        row-gap: 40px;
        // grid-template-areas:
        //   "emergency emergency"
        //   "updates documents";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .resource {
          h3 {
            margin-bottom: 32px;
          }

          .content {
            .item {
              display: block;
              color: $color-foreground;
              margin-bottom: 16px;

              &:hover {
                color: $color-secondary;
              }

              svg {
                width: 16px;
                height: 16px;
                margin-right: 12px;
                vertical-align: middle;
              }

              span {
                vertical-align: middle;
              }
            }
          }
        }

        .emergency-resources {
          .resources-block {
            margin-bottom: 32px;

            .label {
              font-size: 14px;
              margin-bottom: 8px;
            }

            .content {
              a {
                display: block;
                font-size: 20px;
                line-height: 27px;
                font-weight: $type-bold;
                letter-spacing: -0.4px;
                margin-bottom: 4px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .latest-updates {
        }

        .documents {
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 120px 16px;

    .wrapper {
      .divider {
        margin: 48px 0;
      }

      .page-content {
        .resources-wrapper {
          grid-template-columns: auto;
          grid-template-rows: unset;
          text-align: center;

          .resource {
            .content {
              a {
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }
}
