@import "common/styles/_base.scss";

.home {
  padding-top: 144px;

  .wrapper {
    margin: 0 auto;
    max-width: $page-width-limit;

    .omnibox-wrapper {
      text-align: center;

      .label {
        margin-bottom: 24px;
      }

      .omnibox {
        width: 100%;
        max-width: 800px;
        background-color: $color-surface;
        color: $color-foreground;
        border: 1px solid $color-stroke;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 24px;

        input {
          background-color: $color-surface;
          color: $color-foreground;
          font-size: 16px;
        }
      }

      .tags {
        .ant-tag {
          background-color: $color-surface;
          color: $color-foreground;
          border: 1px solid $color-stroke;
          border-radius: 4px;
          font-size: 14px;
          line-height: auto;
          padding: 6px 16px;
          cursor: pointer;

          &:hover {
            background-color: $color-primary;
            color: $color-background;
          }
        }
      }
    }

    .divider {
      border: 1px solid $color-stroke;
      margin: 56px 0;
      opacity: 0.4;
    }

    .content {
      .resources-wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-areas:
          "emergency updates"
          "emergency documents";

        .resource {
          h3 {
            margin-bottom: 32px;
          }

          .content {
            .item {
              display: block;
              color: $color-foreground;
              margin-bottom: 16px;

              &:hover {
                color: $color-primary;
              }

              svg {
                width: 16px;
                height: 16px;
                margin-right: 12px;
                vertical-align: middle;
              }

              span {
                vertical-align: middle;
              }
            }
          }
        }

        .emergency-resources {
          grid-area: emergency;

          .resources-block {
            margin-bottom: 32px;

            .label {
              font-size: 14px;
              margin-bottom: 8px;
            }

            .content {
              a {
                display: block;
                font-size: 20px;
                font-weight: $type-bold;
                letter-spacing: -0.4px;
                color: $color-primary;
                margin-bottom: 4px;
                transition: opacity 0.2s ease;

                &:last-child {
                  margin-bottom: 0;
                }

                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }

        .latest-updates {
          grid-area: updates;
        }

        .documents {
          grid-area: documents;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 96px 24px;
  }
}
