@import "common/styles/_base.scss";

.category {
  .alert-block {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #fff1f7;
    color: #68002b;
    font-size: 13px;
    text-align: center;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}