@import "common/styles/_base.scss";

.category {
  .alert-block {
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #fff1f7;
    color: #68002b;
    font-size: 13px;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}