@import "common/styles/_base.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease;

  &.sticky {
    background-color: $color-background;
    border-bottom: 1px solid $color-stroke;

    .wrapper {
      padding: 16px 0;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 1.2fr;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    max-width: $page-width-limit;
    transform: translateZ(0);
    transition: all 0.2s ease;

    .logo {
      justify-self: center;
      transition: opacity 0.4s ease;
      letter-spacing: -0.28px;
      font-weight: $type-bold;
      text-transform: uppercase;
      color: $color-foreground;

      span {
        margin-left: 4px;
        opacity: 0.4;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .navigation {
      display: flex;
      justify-content: center;

      .item {
        font-size: 14px;
        color: $color-foreground;
        margin-right: 16px;
        transition: all 0.2s ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $color-secondary;
        }
      }

      .button {
        &.desktop {
          display: inline-block;
        }
        &.mobile {
          display: none;
        }
      }
    }

    .mobile-menu-button {
      display: none;
    }
  }

  @media screen and (max-width: 960px) {
    &.sticky {
      .wrapper {
        padding: 16px;
      }
    }

    .wrapper {
      grid-template-columns: auto auto;
      justify-content: space-between;
      padding: 16px;
      max-width: unset;

      .logo {
        display: none;
      }

      .navigation {
        display: none;
      }

      .mobile-menu-button {
        display: flex;
      }
    }
  }
}
