/* @import "~antd/dist/antd.css"; */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
